.item {
    color: gold;
    font-size: 18px;
    border: 1px solid black;
    width: inherit;
    margin: 5px;
    padding: 5px;
}


.item .msg{
    display: inline-block;
}

.item .image,
.item .commentContent{
    display: inline-block;
}

.item .image{
    align-content: inherit;
}

.humanName{
    color: maroon;
}

.item .likes {
    display: flex;
    color: black;
    justify-content: right;
}

.item img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}