.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas: 'hd hd' 'nv cn';
}

div, nav {
    border-radius: 10px;
}

.app-wrapper-content {
    grid-area: cn;
    background-color: coral;
    border-radius: 10px;
    padding-left: 10px;
}





