.app-wrapper {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    grid-template-columns: 2.5fr 10fr 2.5fr;
    grid-gap: 10px;
    grid-template-areas: 'hd hd hd' 'nv cn sb';
}

div, nav {
    border-radius: 10px;
}

.app-wrapper-content {
    grid-area: cn;
    background-color: coral;
    border-radius: 10px;
    padding-left: 10px;
}





